@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(250, 237, 236);
}
section {
  color: white;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(rgb(37, 7, 2), #f2c);
}

.link-underline-white {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(rgb(248, 244, 244), rgb(245, 244, 245));
}

.link-underline:hover {
  background-size: 100% 1px;
  background-position: 0 100%;
}
